@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #09090b; /* Zinc 950 */
  color: #fafafa;
  overflow: hidden; /* Prevent scrollbars for the visualizer */
}
